<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ColumnStoreFactory" name="org.knime.core.data.columnar" schema="schema/ColumnStoreFactory.exsd"/>
   <extension-point id="Persistence" name="Persistence" schema="schema/Persistence.exsd"/>
   <extension
         point="org.knime.core.ExtensionTable">
      <ExtensionTableLoader
            extensionTableLoader="org.knime.core.data.columnar.table.ColumnarContainerTableLoader">
      </ExtensionTableLoader>
      <ExtensionTableLoader
            extensionTableLoader="org.knime.core.data.columnar.table.VirtualTableExtensionTableLoader">
      </ExtensionTableLoader>
   </extension>
   <extension
         point="org.knime.core.TableBackend">
      <TableBackend
            backend="org.knime.core.data.columnar.ColumnarTableBackend">
      </TableBackend>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.core.data.columnar.preferences.ColumnarPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences.tablebackend"
            class="org.knime.core.data.columnar.preferences.ColumnarPreferencePage"
            id="org.knime.core.data.columnar"
            name="Columnar Backend">
      </page>
   </extension>
   <extension
         point="org.knime.core.data.columnar.Persistence">
      <persistence
            persistable="org.knime.core.data.columnar.table.virtual.TableCasterFactory"
            persistor="org.knime.core.data.columnar.table.virtual.TableCasterFactory$TableCasterFactoryPersistor">
      </persistence>
      <persistence
            persistable="org.knime.core.data.columnar.table.virtual.ColumnarConcatenater$RowIDGenerator"
            persistor="org.knime.core.data.columnar.table.virtual.ColumnarConcatenater$RowIDGenerator$RowIDGeneratorPersistor">
      </persistence>
   </extension>
</plugin>
