<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            deprecated="false"
            factory-class="org.knime.core.data.columnar.testing.ColumnarTableSourceNodeFactory"
            hidden="false">
      </node>
      <node
            deprecated="false"
            factory-class="org.knime.core.data.columnar.testing.ColumnarTableCopyNodeFactory"
            hidden="false">
      </node>
   </extension>

</plugin>
