<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.data.columnar.ColumnStoreFactory">
      <ColumnStoreFactory
            factory="org.knime.core.columnar.arrow.ArrowColumnStoreFactory">
      </ColumnStoreFactory>
   </extension>

</plugin>
